@model List<UserRoleAssignViewModel>
@{
    ViewData["Title"] = "UserRoleAssign";
    Layout = "~/Views/AdminLayoutContoller/Index.cshtml";
}

<h1>Rol Atama Sayfası</h1>
<br />
<br />
<form method="post">
    @for(int i = 0; i < Model.Count; i++)
    {
        <input type="hidden" asp-for="@Model[i].RoleID"/>
        <input type="hidden" asp-for="@Model[i].RoleName"/>
        <input type="checkbox" asp-for="@Model[i].RoleExist" class="form-check-input"/>
        <label class="form-check-label" for="@Model[i].RoleExist">@Model[i].RoleName</label>
    }
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>
